body {
	width: 100%;
	height: 100%;
}

/* NAV BAR */
.navbar-default {
    background-color: #43A047;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: white;
	color: #43A047;
}

.navbar-default .navbar-nav > li > a:focus {
	background-color: white;
	color: #43A047;
}

/* PANELS */
.panel-default > .panel-heading {
	background-color: #43A047;
	color: white;
}

/* INPUTS */
.input-group {
	margin-top: 4px;
}

.input-group-addon {
    min-width: 132px;
    text-align: right;
}

/* PAGINATION */
.pagination > li > a,
.pagination > li > span {
	color: #43A047;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #43A047;
    border-color: #43A047;
}

/* HOME */
.labelContact {
	font-weight: bold;
}

/* BUILD */
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

/* LOGIN */
.loginForm {
	width: 320px;
}

/* ADMIN */
.margedPanelTop {
	margin-top: 20px;
}

/* PROPERTIES */
.green {
	color: #43A047;
}

.right {
	float: right;
}

.noPadding {
	padding: 0;
}